<p class="title">{{ts 'mongoid.models.order/verbal.one'}}</p>
<!-- Колонка -->
<div class="col-1">
  <div class="custom-select">
    {{view Ember.Select
      valueBinding='location'
      content=cities
      optionLabelPath='content.name'
      optionValuePath='content.id'
      prompt='Все города'
    }}
  </div>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1">
  <div class="custom-select">
    {{view Ember.Select
    valueBinding='language'
    content=languages
    optionLabelPath='content.name'
    optionValuePath='content.id'
    prompt='Все языки'
    }}
  </div>
</div>
<!-- /Колонка -->
<div class="clear"></div>
<!-- Таблица -->
<div class="table-container">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
      <td class="number">{{ts 'mongoid.attributes.order/base.id'}}<span class="icon"></span></td>
      <td>{{ts 'mongoid.attributes.order/verbal.location'}}</td>
      <td>{{ts 'mongoid.attributes.order/verbal.language_criterions'}}</td>
      <td>{{ts 'mongoid.attributes.order/verbal.reservation_dates'}}</td>
      <td class="center">{{ts 'mongoid.attributes.order/verbal.days'}}</td>
      <td>{{ts 'mongoid.attributes.order/base.cost'}}</td>
      <td class="center">{{ts 'mongoid.attributes.order/base.state'}}</td>
      <td colspan="2" class="access">{{ts 'frontend.orders.available_as'}}</td>
    </tr>
    </thead>
    <tbody>

      {{#each}}
        <tr>
          <td>{{id}}</td>
          <td>{{location_name}}</td>
          <td>EN <sup>RU LV</sup></td>
          <td>01-09-2014</td>
          <td class="center">{{reservation_dates_count}}</td>
          <td>200 €</td>
          <td class="center">{{state}}</td>
          <td class="access">
            {{#if hasPrimaryApplication}}
              <b>{{ts 'frontend.order_application.statuses.primary'}}</b>
            {{else}}
              <a {{action 'assign_as' this 'primary'}}>{{ts 'frontend.order_application.statuses.primary'}}</a>
            {{/if}}
          </td>
          <td class="access">
            {{#if hasSecondaryApplication}}
                <b>{{ts 'frontend.order_application.statuses.secondary'}}</b>
            {{else}}
              {{#if canCreateSecondaryApp}}
                  <a {{action 'assign_as' this 'secondary'}}>{{ts 'frontend.order_application.statuses.secondary'}}</a>
              {{/if}}
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<!-- /Таблица -->