<div class="container">
{{#linkTo "news" tagName="a" class="item" }}
    <span {{bindAttr href="view.href"}}>news<span class="caret"></span></span>
{{/linkTo}}
{{#linkTo "messages" tagName="a" class="item" }}
    <span {{bindAttr href="view.href"}}>messages<span class="caret"></span></span>
{{/linkTo}}
{{#linkTo "bookings" tagName="a" class="item" }}
    <span {{bindAttr href="view.href"}}>bookings<span class="caret"></span></span>
{{/linkTo}}
{{#linkTo "vassals" tagName="a" class="item" }}
    <span {{bindAttr href="view.href"}}>agent<span class="caret"></span></span>
{{/linkTo}}
{{#linkTo "orders" tagName="a" class="item" }}
    <span {{bindAttr href="view.href"}}>orders<span class="caret"></span></span>
{{/linkTo}}
{{#linkTo "profiles" tagName="a" class="item" }}
    <span {{bindAttr href="view.href"}}>profile<span class="caret"></span></span>
{{/linkTo}}
{{#linkTo "balance" tagName="a" class="item" }}
    <span {{bindAttr href="view.href"}}>balance<span class="caret"></span></span>
{{/linkTo}}
</div>
