<div class="container">
{{#link-to "news" tagName="a" class="item" }}
    <span {{bind-attr href="view.href"}}>news<span class="caret"></span></span>
{{/link-to}}
{{#link-to "messages" tagName="a" class="item" }}
    <span {{bind-attr href="view.href"}}>messages<span class="caret"></span></span>
{{/link-to}}
{{#link-to "bookings" tagName="a" class="item" }}
    <span {{bind-attr href="view.href"}}>bookings<span class="caret"></span></span>
{{/link-to}}
{{#link-to "something" tagName="a" class="item" }}
    <span {{bind-attr href="view.href"}}>something<span class="caret"></span></span>
{{/link-to}}
{{#link-to "orders" tagName="a" class="item" }}
    <span {{bind-attr href="view.href"}}>orders<span class="caret"></span></span>
{{/link-to}}
{{#link-to "profiles" tagName="a" class="item" }}
    <span {{bind-attr href="view.href"}}>profile<span class="caret"></span></span>
{{/link-to}}
{{#link-to "balance" tagName="a" class="item" }}
    <span {{bind-attr href="view.href"}}>balance<span class="caret"></span></span>
{{/link-to}}
</div>
