<div class="container">
    <div class="steps clearfix">
      <div class="col-1 button first">
        <%if @order.step > 1%>
            <%= link_to url_for(controller: :orders, action: :update, order: {step: @order.step-1}), method: :put do%>
                <button><%=ts(:previous)%></button>
            <%end%>
        <%end%>
      </div>
      <div class="col-1 clearfix circles">
        <%= link_to url_for(controller: :orders, action: :update, order: {step: 1}), method: :put do%>
            <span class=<%='active' if @order.step == 1%>>1</span>
        <%end%>
        <%= link_to url_for(controller: :orders, action: :update, order: {step: 2}), method: :put do%>
            <span class=<%='active' if @order.step == 2%>>2</span>
        <%end%>
        <%= link_to url_for(controller: :orders, action: :update, order: {step: 3}), method: :put do%>
            <span class=<%='active' if @order.step == 3%>>3</span>
        <%end%>
      </div>
      <div class="col-1 button last">
        <button type="submit" ><%=ts(:next)%></button>
      </div>
    </div>
</div>
