<!-- Раздел с формой -->
<%= form_for @order, as: :order, url: url_for(controller: 'orders', action: 'update'), html: {class: "section-form step-2"} do |f| %>
<%= f.hidden_field :_type%>
<!-- Контейнер -->
<div class="container clearfix">
  <h1 class="main"><%=ts(:make_order_for)%> <span class="pink-bright"><%=ts(:interpretation)%></span></h1>

<p class="title"><%=ts(:choose_the_price)%></p>

<p><%=ts(:confirm_reservation)%></p>
<!-- Календарь -->
<div class="calendar">
<span class="arrow left"></span>
<span class="arrow right"></span>
<!-- Интервал -->
<div class="interval active">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td></td>

<%@order.different_dates.each_with_index do |date, i|%>
        <td class="date-cont" data-num="<%=i%>" style="<%='display: none' if i>=7 %>" >
          <em><%=l date.date, format: :full%></em>
        </td>
<%end%>
</tr>
<%@order.language_criterions.each do |lc| %>
<tr>
  <%unless lc.language.nil?%>
  <td><%=lc.language.name%> <sup><%=ts(:interpretation)%></sup></td>
  <%i=0%>
  <%@order.reservation_dates.each do |date|%>
      <%- if date.order_language_criterion_id == lc.id%>
          <td class="active date_<%=i%> day<%=date.date.strftime '%d-%m-%Y'%>" style="<%='display: none' if i>=7 %>"  data-cost="<%=lc.price%>">
            <em class="cost"><%=date.price%> Eur</em>
            <span><i class="dropdown-icon"></i> <b><%=date.hours%> <%=ts(:h)%></b></span>
            <div class="dropdown">
              <b class="icon"></b>
              <em>8</em>
              <em>10</em>
              <em>12</em>
              <em>14</em>
              <em>16</em>
              <input type="hidden" name="order[reservation_dates_attributes][][_id]" value="<%=date.id%>">
              <input type="hidden" class="hours" name="order[reservation_dates_attributes][][hours]" value="<%=date.hours%>">
              <input type="hidden" class="destroy" name="order[reservation_dates_attributes][][_destroy]" value="1">
            </div>
          </td>
          <%i += 1%>
      <%end%>
  <%end%>
  <td></td>
  <%end%>
</tr>
<%end%>
</table>
<!-- /Интервал -->
<!-- Интервал -->
<!-- /Интервал -->
</div>
</div>
<!-- /Календарь -->
<p class="description"><%=ts(:about_translator_working_day)%>:<br> <%=ts(:extra_hours_formula)%> </p>

<p class="sum"><%=ts(:total_amount)%></p>

<div class="bordered-block">
  <p> <%=ts(:price_here)%></p>
</div>
<div class="height-30"></div>
<div ng-include="'orders/interpretations/steps.html'"></div>

</div>
<!-- /Контейнер -->
<%=render partial: 'orders/verbal/steps_nav', locals: {f: f}%>
<%end%>
<script>
  new ConfirmCalendar
</script>
<!-- /Раздел с формой -->