<!-- Раздел с формой -->
<%= form_for @order, as: :order, url: url_for(controller: 'orders', action: 'update'), html: {class: "section-form step-2"} do |f| %>
<%= f.hidden_field :_type%>
<%= f.hidden_field :step, value: 3%>
<!-- Контейнер -->
<div class="container clearfix">
  <h1 class="main"><%=ts(:make_order_for)%> <span class="pink-bright"><%=ts(:interpretation)%></span></h1>

<p class="title"><%=ts(:choose_the_price)%></p>

<p><%=ts(:confirm_reservation)%></p>
<!-- Календарь -->
<div class="calendar">
<span class="arrow left"></span>
<span class="arrow right"></span>
<!-- Интервал -->
<div class="interval active">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td></td>

<%@reservation_dates.each_with_index do |date, i|%>
        <td class="date-cont" data-num="<%=i%>" style="<%='display: none' if i>=7 %>" >
          <em><%=l date.date, format: :full%></em>
        </td>
<%end%>
</tr>
<tr>
    <td><%=@order.main_language_criterion.language.name%> <sup><%=ts(:interpretation)%></sup></td>
    <%i=0%>
    <%@reservation_dates.each do |date|%>
            <td class="active date_<%=i%> day<%=date.date.strftime '%d-%m-%Y'%> <%='inavailable' unless date.available?(@order.main_language_criterion.language, @order.location, @order.main_language_criterion.level) || date.available_level(@order.main_language_criterion.language, @order.location).nil? %> <%='choosen' if date.available?(@order.main_language_criterion.language, @order.location, @order.main_language_criterion.level)%>" style="<%='display: none' if i>=7 %>" data-date="<%=date.date.strftime '%d-%m-%Y'%>" data-cost="<%=@order.main_language_criterion.price%>">
              <em class="cost"><%=date.price%> Eur</em>
              <span><i class="dropdown-icon"></i> <b><%=date.hours%> <%=ts(:h)%></b></span>
              <% unless date.available?(@order.main_language_criterion.language, @order.location, @order.main_language_criterion.level) || date.available_level(@order.main_language_criterion.language, @order.location).nil? %>
                  <div class="attention-text"><%=ts('order.verbal.attention')%></div>
                  <p class="attention-tooltip attention-2"><b class="icon"></b>Только переводчик <%=I18n.t("level_#{date.available_level(@order.main_language_criterion.language, @order.location)}")%> доступен на этот день</p>
              <%end%>
              <div class="dropdown">
                <b class="icon"></b>
                <em>8</em>
                <em>10</em>
                <em>12</em>
                <em>14</em>
                <em>16</em>
                <input type="hidden" name="order[reservation_dates_attributes][][_id]" value="<%=date.id%>">
                <input type="hidden" class="hours" name="order[reservation_dates_attributes][][hours]" value="<%=date.hours%>">
                <input type="hidden" class="hours" name="order[reservation_dates_attributes][][order_language_criterion_id]" value="<%=@order.main_language_criterion.id%>">
                <input type="hidden" class="destroy" name="order[reservation_dates_attributes][][_destroy]"  value="<%=date.human_made ? '0' : '1'%>">
              </div>
              <p class="attention-tooltip attention-2"><b class="icon"></b>Только переводчик <%=I18n.t("level_#{date.available_level(@order.main_language_criterion.language, @order.location)}")%> доступен на этот день</p>
            </td>
      <%i += 1%>
    <%end%>
    <td class="nav_td"></td>
</tr>
<%@order.reserve_language_criterions.each do |lc| %>
<tr>
  <td><%=lc.language.name%> <sup><%=ts(:interpretation)%></sup></td>
  <%i=0%>
  <%@reservation_dates.each do |date|%>
          <td class="active date_<%=i%> day<%=date.date.strftime '%d-%m-%Y'%> <%='inavailable' if date.available_level(lc.language, @order.location).nil? %>" style="<%='display: none' if i>=7 %>"  data-cost="<%=lc.price%>" data-date="<%=date.date.strftime '%d-%m-%Y'%>">
            <em class="cost"><%=date.price%> Eur</em>
            <span><i class="dropdown-icon"></i> <b><%=date.hours%> <%=ts(:h)%></b></span>
            <% unless date.available?(lc.language, @order.location, lc.level) || date.available_level(lc.language, @order.location).nil? %>
                <div class="attention-text"><%=ts('order.verbal.attention')%></div>
                <p class="attention-tooltip attention-2"><b class="icon"></b>Только переводчик <%=ts(date.available_level(lc.language, @order.location))%> доступен на этот день</p>
            <%end%>
            <div class="dropdown">
              <b class="icon"></b>
              <em>8</em>
              <em>10</em>
              <em>12</em>
              <em>14</em>
              <em>16</em>
              <input type="hidden" name="order[reservation_dates_attributes][][_id]" value="<%=date.id%>">
              <input type="hidden" class="hours" name="order[reservation_dates_attributes][][hours]" value="<%=date.hours%>">
              <input type="hidden" class="hours" name="order[reservation_dates_attributes][][order_language_criterion_id]" value="<%=lc.id%>">
              <input type="hidden" class="destroy" name="order[reservation_dates_attributes][][_destroy]" value="1">
            </div>

          </td>
          <%i += 1%>
  <%end%>
</tr>
<%end%>
</table>
<!-- /Интервал -->
<!-- Интервал -->
<!-- /Интервал -->
</div>
</div>
<!-- /Календарь -->
<p class="description"><%=ts(:about_translator_working_day)%>:<br> <%=ts(:extra_hours_formula)%> </p>

<p class="sum"><%=ts(:total_amount)%></p>

<div class="bordered-block">
  <p> <%=ts(:price_here)%></p>
</div>
<div class="height-30"></div>
<div ng-include="'orders/interpretations/steps.html'"></div>
<div id="should_confirm" class="hover-tooltip js-tooltip-confirm col-1 first" style="position: relative; float: left">
<p><%=ts(:select_at_last_one_date)%></p>
</div>

</div>
<!-- /Контейнер -->
<%=render partial: 'orders/verbal/steps_nav', locals: {f: f}%>
<%end%>
<script>
  new ConfirmCalendar
</script>
<!-- /Раздел с формой -->