<!-- Раздел с формой -->
<%= form_for @order, as: :order, url: url_for(controller: 'orders', action: 'update'), html: {class: "section-form payment step-3"} do |f| %>
    <%= f.hidden_field :_type%>
<!-- Контейнер -->
<div class="container clearfix">
<h1 class="main"><%=ts(:make_order_for)%> <span class="pink-bright"><%=ts(:interpretation)%></span></h1>
<p class="title"><%=ts(:client_info)%></p>

<%=f.fields_for :client_info_attributes do |ci|%>
<!-- Колонка -->
<div class="col-1">
  <p><%=ts(:fist_name)%></p>
  <%=ci.text_field :first_name, value: @order.client_info.first_name, required: true%>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1">
  <p><%=ts(:last_name)%></p>
  <%=ci.text_field :last_name, value: @order.client_info.last_name, required: true%>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1 last clearfix birth">
  <p><%=ts(:birthday)%></p>
  <div class="custom-select three-in-one">
  <%=ci.date_select :birthday, :start_year => 1940, use_month_numbers: true,  required: true%>
    </div>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1">
  <p><%=ts(:company)%></p>
  <%=ci.text_field :company, value: @order.client_info.company, required: true%>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1">
  <p><%=ts(:country)%></p>
  <div class="custom-select">
    <%=ci.select :country, Order::ClientInfo::CONTRIES, required: true, value: @order.client_info.company %>
  </div>
</div>
    <%end%>
<!-- /Колонка -->
<div class="clear"></div>
<p class="title"><%=ts(:additional_service)%></p>
<div class="height-10"></div>
<!-- Аккордион -->
<div class="accordion">
  <!-- Тригер -->
  <p class="trigger">
    <span class="icon"></span>
    <%=ts(:airport_pick_up)%>
  </p>
  <!-- /Тригер -->
  <!-- Вкладка -->
  <%=f.fields_for :airport_pick_up_attributes do |air|%>
  <div class="tab" style="display: none">
    <label class="radio no-left clearfix">
      <%=air.radio_button :need_car, '1', checked: @order.airport_pick_up.try(:need_car)%>

      <em></em>
      <p><%=ts(:need_car)%></p>
    </label>
    <label class="radio no-left clearfix">
      <%=air.radio_button :need_car, '0', checked: @order.airport_pick_up.try(:need_car)%>
      <em></em>
      <p><%=ts(:do_not_need_a_car)%></p>
    </label>
    <label class="checkbox no-left clearfix">
      <%=air.check_box :double_way, checked: @order.airport_pick_up.try(:double_way)%>
      <em></em>
      <p><%=ts(:double_way)%></p>
    </label>
    <div class="height-10"></div>
    <!-- Колонка -->
    <div class="col-1">
      <p><%=ts(:flight_number)%></p>
      <%=air.text_field :flight_number%>
    </div>
    <!-- /Колонка -->
    <!-- Колонка -->
    <div class="col-1">
      <p><%=ts(:airport_name)%></p>
      <%=air.text_field :airport_name%>
    </div>
    <!-- /Колонка -->
    <!-- Колонка -->
    <div class="col-1 arr-date-time last clearfix">
      <p><%=ts(:arriving_date_time)%></p>
      <div class="custom-select three-in-one">
      <%=air.date_select :arriving_date, :start_year => 1940, use_month_numbers: true%>
        </div>
      <div class="custom-select three-in-one">
      <%=air.time_select :arriving_date%>
        </div>
    </div>
    <!-- /Колонка -->
    <div class="clear"></div>
    <label class="checkbox no-left clearfix">
      <%=air.check_box :have_not_booked_yet, checked: @order.airport_pick_up.try(:have_not_booked_yet)%>
      <em></em>
      <p><%=ts(:have_not_booked_yet)%></p>
    </label>
    <div class="height-10"></div>
  </div>
  <!-- /Вкладка -->
  <!-- Тригер -->

   <%end%>
  <p class="trigger">
    <span class="icon"></span>
    <%=ts(:car_rent)%>
  </p>
  <%=f.fields_for :car_rent_attributes do |c|%>
  <!-- /Тригер -->
  <!-- Вкладка -->
  <div class="tab position-relative" style="display: none">
    <% Order::Car.each do |car|%>
    <label class="radio no-left clearfix">
      <%=c.radio_button :car_id, car.id%>
      <em></em>
      <p><%=car.name%></p>
    </label>
     <%end%>
    <!-- Колонка -->
    <div class="col-1">
      <p>Duration</p>
      <div class="custom-select">
        <%=c.select :duration, [1,2,3,4,5,6,7,8,9,10], include_blank: true%>
      </div>
    </div>
    <!-- /Колонка -->
    <div class="clear"></div>
    <p class="big-tooltip">
      <span class="icon"></span>
      <%=ts(:additional_costs_list)%>
    </p>
    <div class="height-10"></div>
  </div>
  <%end%>
  <!-- /Вкладка -->
  <!-- Тригер -->
  <p class="trigger">
    <span class="icon"></span>
    <%=ts(:hotel_greetings)%>
  </p>
  <!-- /Тригер -->
  <!-- Вкладка -->
  <div style="display: none" class="tab position-relative">
    <%=f.fields_for :hotel_attributes do |hg|%>
    <div class="col-3">
        <div class="height-10"></div>
        <span><%=ts(:hope_to_be_greeted)%></span>
        <div class="custom-select three-in-one inline">
          <%=hg.time_select :greeted_at%>
        </div>
        <span><span class="greeting-interval"></span> on <span id="greet_time"><%=@order.reservation_dates.first.date.strftime '%d-%m-%Y'%></span> [ <%=ts(:china_time)%> ]</span>
    </div>
    <div class="col-2 last">
      <span><%=ts(:info)%></span>
      <%=hg.text_area :info%></div>
    <div class="col-3">
        <label class="checkbox no-left clearfix">
          <%=hg.check_box :have_not_booked_yet%>
          <em></em>
          <p><%=ts(:have_not_booked_yet)%></p>
        </label>
    </div>
    <%end%>
  </div>
  <!-- /Вкладка -->
</div>
<!-- /Аккордион -->
<div class="height-10"></div>
<p class="title"><%=ts(:pay_ways)%></p>
<!-- Колонка -->
<div class="col-1 payment-method plastic-card">
  <div class="line"></div>
  <span class="icon"></span>
  <div class="height-5"></div>
  <label class="checkbox clearfix">
    <%=f.radio_button :pay_way, Order::Base::PAY_WAYS[0]%>
    <em></em>
    <p><%=ts(:visa)%></p>
  </label>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1 payment-method bank-transfer">
  <div class="line"></div>
  <span class="icon"></span>
  <div class="height-5"></div>
  <label class="checkbox clearfix">
    <%=f.radio_button :pay_way, Order::Base::PAY_WAYS[1]%>
    <em></em>
    <p><%=ts(:bank)%></p>
  </label>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1 last payment-method alipay">
  <span class="icon"></span>
  <div class="height-5"></div>
  <label class="checkbox clearfix">
    <%=f.radio_button :pay_way, Order::Base::PAY_WAYS[2]%>
    <em></em>
    <p><%=ts(:alipay)%> <span class="tooltip-icon-small js-tooltip" data-target=".js-tooltip-al"></span></p>
  </label>
  <div class="hover-tooltip js-tooltip-al" style="text-align: left;">
    <span class="icon"></span>
    <p><%=ts(:alipay_tooltip)%></p>
  </div>
</div>
<!-- /Колонка -->
<div class="clear height-20"></div>
<p class="title"><%=ts(:order_details)%> – № <%=@order.id%></p>
<div class="bordered-block points">

  <% @order.reservation_dates.each_with_index do |date, i|%>
      <p class="point"><span class="bold number"><%=i%>.</span> <%=ts("week_days.#{date.date.strftime('%a')}")%> <%=date.date.mday%>
        <%date.date.strftime '%m'%> <%=date.date.year%> <%=ts(:y)%>, <%=ts(:in)%> <%=@order.location.name%>, <%=ts(:interpretation)%>,
        <%=date.order_language_criterion.language.name%>, <%=ts(:level)%> - <%=ts("level_#{date.order_language_criterion.level}")%>, <%=date.hours%> <%=ts(:hours)%> = <span class="semi-bold"><%=date.price%> Eur</span></p>
  <%end%>
  <div class="line"></div>
  <p class="pink-bright bold"><%=ts(:total)%>: <%=@order.price%> Eur</p>
</div>
<div class="height-10 " ></div>
<label class="checkbox clearfix" id="agree">
  <input id="i_agree" type="checkbox">
  <em></em>
  <p><%=ts(:agree_first_part)%><a href="#"><%=ts(:service_conditions)%></a>, <a href="#"><%=ts(:cancel_conditions)%></a> <%=ts(:and)%> <a href="#"><%=ts(:compensation_rules)%></a> <%=ts(:agree_last_part)%></p>
</label>
    <div class="clear" ></div>
<div id="should_agree" class="hover-tooltip js-tooltip-agree col-1 first" style="position: relative; float: left">
  <span class="icon"></span>
  <p><%=ts(:should_agree)%></p>
</div>
<div class="clear" ></div>
</div>

<%=render partial: 'orders/verbal/steps_nav', locals: {f: f}%>
<!-- /Контейнер -->
<%end%>

<script>
  new StepThreeAccordion()
  new Tooltip
</script>
<!-- /Раздел с формой -->