<!-- Раздел с формой -->
<%= form_for @order, as: :order, url: url_for(controller: 'orders', action: 'update'), html: {class: "section-form step-3"} do |f| %>
    <%= f.hidden_field :_type%>
<!-- Контейнер -->
<div class="container clearfix">
<h1 class="main">Разместить заказ на <span class="pink-bright">Устный перевод</span></h1>
<p class="title"><%=ts(:client_info)%></p>

<%=f.fields_for :client_info_attributes do |ci|%>
<!-- Колонка -->
<div class="col-1">
  <p><%=ts(:fist_name)%></p>
  <%=ci.text_field :first_name%>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1">
  <p><%=ts(:last_name)%></p>
  <%=ci.text_field :last_name%>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1 last clearfix birth">
  <p><%=ts(:birthday)%></p>
  <div class="custom-select three-in-one">
  <%=ci.date_select :birthday, :start_year => 1940, use_month_numbers: true%>
    </div>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1">
  <p><%=ts(:company)%></p>
  <%=ci.text_field :company%>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1">
  <p><%=ts(:country)%></p>
  <div class="custom-select">
    <%=ci.select :country, Order::ClientInfo::CONTRIES%>
  </div>
</div>
    <%end%>
<!-- /Колонка -->
<div class="clear"></div>
<p class="title">Дополнительные услуги</p>
<div class="height-10"></div>
<!-- Аккордион -->
<div class="accordion">
  <!-- Тригер -->
  <p class="trigger">
    <span class="icon"></span>
    Airport Pick Up
  </p>
  <!-- /Тригер -->
  <!-- Вкладка -->
  <%=f.fields_for :airport_pick_up_attributes do |air|%>
  <div class="tab" style="display: none">
    <label class="radio no-left clearfix">
      <%=air.radio_button :need_a_car, '1', checked: @order.airport_pick_up.try(:need_a_car)%>

      <em></em>
      <p><%=ts(:need_a_car)%></p>
    </label>
    <label class="radio no-left clearfix">
      <%=air.radio_button :need_a_car, '0', checked: @order.airport_pick_up.try(:need_a_car)%>
      <em></em>
      <p><%=ts(:do_not_need_a_car)%></p>
    </label>
    <label class="checkbox no-left clearfix">
      <%=air.check_box :double_way, checked: @order.airport_pick_up.try(:double_way)%>
      <em></em>
      <p><%=ts(:double_way)%></p>
    </label>
    <div class="height-10"></div>
    <!-- Колонка -->
    <div class="col-1">
      <p>Flight Number</p>
      <%=air.text_field :flight_number%>
    </div>
    <!-- /Колонка -->
    <!-- Колонка -->
    <div class="col-1">
      <p>Airport Name</p>
      <input ng-model="order.airportName" type="text">
    </div>
    <!-- /Колонка -->
    <!-- Колонка -->
    <div class="col-1 arr-date-time last clearfix">
      <p>Arriving Date / Time</p>
      <div class="custom-select three-in-one">
      <%=air.date_select :arriving_date, :start_year => 1940, use_month_numbers: true%>
        </div>
      <div class="custom-select three-in-one">
      <%=air.time_select :arriving_date%>
        </div>
    </div>
    <!-- /Колонка -->
    <div class="clear"></div>
    <label class="checkbox no-left clearfix">
      <%=air.check_box :have_not_booked_yet, checked: @order.airport_pick_up.try(:have_not_booked_yet)%>
      <em></em>
      <p><%=ts(:have_not_booked_yet)%></p>
    </label>
    <div class="height-10"></div>
  </div>
  <!-- /Вкладка -->
  <!-- Тригер -->

   <%end%>
  <p class="trigger">
    <span class="icon"></span>
    Car rent
  </p>
  <%=f.fields_for :car_rent_attributes do |c|%>
  <!-- /Тригер -->
  <!-- Вкладка -->
  <div class="tab position-relative" style="display: none">
    <% Order::Car.each do |car|%>
    <label class="radio no-left clearfix">
      <%=c.radio_button :car_id, car.id%>
      <em></em>
      <p><%=car.name%></p>
    </label>
     <%end%>
    <!-- Колонка -->
    <div class="col-1">
      <p>Duration</p>
      <div class="custom-select">
        <%=c.select :duration, [1,2,3,4,5,6,7,8,9,10]%>
      </div>
    </div>
    <!-- /Колонка -->
    <div class="clear"></div>
    <p class="big-tooltip">
      <span class="icon"></span>
      1. Price Includes the gas oil fee(up to 100 KM/day), and the insurance fee,the tax.<br>
      2. Price Excludes the toll fee,the parking fee,over kilometer fee and overtime fee.<br>
      3. For extra hours: Economy - $6/hour, Standard - $8/h, Deluxe - $16/h<br>
      4. For extra kilometer: Economy - $0.85/hour, Standard - $1/KM, Deluxe - $1.7/KM
    </p>
    <div class="height-10"></div>
  </div>
  <%end%>
  <!-- /Вкладка -->
  <!-- Тригер -->
  <p class="trigger">
    <span class="icon"></span>
    Hotel greeting
  </p>
  <!-- /Тригер -->
  <!-- Вкладка -->
  <div style="display: none" class="tab position-relative">
    <div class="custom-select greeting">
      <select>
        <option>пункт 1</option>
        <option>пункт 2</option>
      </select>
    </div>
    <div class="height-10"></div>
    <p>I hope to be greeted at my hotel lobby at <span class="greeting-interval"></span> on 2015-07-28 [ China Time ]</p>
    <label class="checkbox no-left clearfix">
      <input type="checkbox" value="0" ng-model="order.haveAHotel">
      <em></em>
      <p>I have not yet booked a Hotel!</p>
    </label>
  </div>
  <!-- /Вкладка -->
</div>
<!-- /Аккордион -->
<div class="height-10"></div>
<p class="title">Способ оплаты</p>
<!-- Колонка -->
<div class="col-1 payment-method plastic-card">
  <div class="line"></div>
  <span class="icon"></span>
  <div class="height-5"></div>
  <label class="checkbox clearfix">
    <input type="checkbox" value="paymentcard" ng-model="order.paymentMethod">
    <em></em>
    <p>Платежная карта</p>
  </label>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1 payment-method bank-transfer">
  <div class="line"></div>
  <span class="icon"></span>
  <div class="height-5"></div>
  <label class="checkbox clearfix">
    <input type="checkbox" value="banktransfer" ng-model="order.paymentMethod">
    <em></em>
    <p>Банковский перевод</p>
  </label>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1 last payment-method alipay">
  <span class="icon"></span>
  <div class="height-5"></div>
  <label class="checkbox clearfix">
    <input type="checkbox" value="alipay" ng-model="order.paymentMethod">
    <em></em>
    <p>alipay.com <span class="tooltip-icon-small js-tooltip" data-target=".js-tooltip-al"></span></p>
  </label>
  <div class="hover-tooltip js-tooltip-al" style="text-align: left;">
    <span class="icon"></span>
    <p>Текст всплывающей подсказки</p>
  </div>
</div>
<!-- /Колонка -->
<div class="clear height-20"></div>
<p class="title"><%=ts(:order_details)%> – № <%=@order.id%></p>
<div class="bordered-block points">

  <% @order.reservation_dates.each_with_index do |date, i|%>
      <p class="point"><span class="bold number"><%=i%>.</span> <%=date.date.strftime '%a'%>. <%=date.date.mday%>
        <%date.date.strftime '%m'%> <%=date.date.year%> <%=ts(:y)%>., <%=ts(:in)%>. <%=@order.location.name%>, <%=ts(:interpretation)%>,
        <%=@order.language_criterions.last.language.name%>, <%=ts(:level)%> - <%=ts("level_#{@order.language_criterions.last.level}")%>, <%=date.hours%> <%=ts(:hours)%> = <span class="semi-bold"><%=Order::Verbal::DEFAULTCOST*(1+(date.hours-8)*1.5/8)%> Eur</span></p>
  <%end%>
  <div class="line"></div>
  <p class="pink-bright bold"><%=ts(:total)%>: <%=@order.sum%> Eur</p>
</div>
<div class="height-10"></div>
<label class="checkbox clearfix">
  <input type="checkbox">
  <em></em>
  <p>Бронируя этот заказ, вы соглашаетесь оплачивать полную указанную сумму, которая включает все сервисные сборы, вы вниматально ознакомились и полностью согласны с <a href="#">Условими предоставления услуг</a>, <a href="#">Правилами отмены бронирования</a> и <a href="#">Правилами компенсации</a> заказчику услуг.</p>
</label>
<div class="height-20"></div>
<div ng-include="'orders/interpretations/steps.html'"></div>
</div>

<%=render partial: 'orders/verbal/steps_nav', locals: {f: f}%>
<!-- /Контейнер -->
<%end%>

<script>
  new StepThreeAccordion()
</script>
<!-- /Раздел с формой -->