<!-- Раздел с формой -->
<%= form_for @order, as: :order, url: url_for(controller: 'orders', action: 'update'), html: {class: "section-form step-1"} do |f| %>
<%= hidden_field_tag :profile_id, params[:profile_id]%>
<%= f.hidden_field :_type%>
<!-- Контейнер -->
<div class="container clearfix">
<h1 class="main"><%=ts(:make_order_for)%> <span class="pink-bright"><%=ts(:interpretation)%></span></h1>
<!-- Колонка -->
<div class="col-1 line-grey-right">
  <div class="line"></div>
  <p class="title"><%=ts(:place)%></p>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-2 last">
  <p class="title"><%=ts(:translation_languages)%> <span class="light"><%=ts(:from_to_chineeze)%></span></p>
</div>
<!-- /Колонка -->
<div class="clear"></div>
<!-- Колонка -->
<div class="col-1 position-relative">
  <p><%=ts(:translation_place)%></p>

  <div class="custom-select ui-widget">
    <%=f.select :location_id, City.with_approved_translators.collect {|c| [c.name, c.id]}%>
  </div>
  <label class="checkbox clearfix long">
    <%=f.check_box :include_near_city %>
    <em></em>

    <p><%=ts(:include_near_city)%>
      <span class="tooltip-icon-small js-tooltip rel-js-tooltip-block-city" data-target=".js-tooltip-block-city"></span>
    </p>
  </label>

  <div class="js-tooltip-block-city" show-tooltip yu-parent="rel-js-tooltip-block-city">
    <%=ts(:include_near_city_hint)%>
  </div>
</div>
<!-- /Колонка -->
<!-- Колонка -->
  <div class="container clearfix right-cont">
    <div class="inline_lang_form">
      <div class="col-1">
        <p><%=ts(:translation_language)%></p>
        <div class="custom-select">
          <select name="order[main_language_criterion][language_id]" id="order_language_criterion_language" >
            <option></option>
            <%Language.all.each do |l|%>
                <option value="<%=l.id%>" <%='selected' if @order.main_language_criterion.try(:language_id) == l.id%>><%=l.name%></option>
            <%end%>
          </select>
        </div>
      </div>


      <div class="col-07">
        <p><%=ts(:translation_level)%></p>

        <div class="custom-select bordered">
          <select name="order[main_language_criterion][level]" id="order_language_criterion_level" >
            <option value='guide' <%='selected' if @order.main_language_criterion.try(:level) == 'guide'%>><%=ts(:guide, scope: 'enums.order/verbal.translation_levels')%></option>
            <option value='business' <%='selected' if @order.main_language_criterion.try(:level) == 'business'%>><%=ts(:business, scope: 'enums.order/verbal.translation_levels')%></option>
            <option value='expert' <%='selected' if @order.main_language_criterion.try(:level) == 'expert'%>><%=ts(:expert, scope: 'enums.order/verbal.translation_levels')%></option>
          </select>
        </div>
      </div>
      <div class="col-05">
        <p><%=ts(:price)%></p>
        <input type="text" value="<%=@order.main_language_criterion.try(:price)%>" readonly>
      </div>
      <div class="col-05 last remove_lang">
        <a id="remove_lang" class="pink-bright"><%=ts(:delete_language)%></a>
      </div>
      <div class="clear"></div>
    </div>
<% @order.reserve_language_criterions.each do |cr|%>
      <div class="inline_lang_form">
        <input id="id" type="hidden" name="order[reserve_language_criterions_attributes][][id]" value="<%= cr.id.to_s%>">
        <div class="col-1">
          <p><%=ts(:translation_language)%></p>
          <div class="custom-select">
            <select name="order[reserve_language_criterions_attributes][][language_id]" id="order_language_criterion_language" >
              <option></option>
              <%Language.all.each do |l|%>
                  <option value="<%=l.id%>" <%='selected' if cr.language_id == l.id%>><%=l.name%></option>
              <%end%>
            </select>
          </div>
          </div>


        <div class="col-07">
          <p><%=ts(:translation_level)%></p>

          <div class="custom-select bordered">
            <select name="order[reserve_language_criterions_attributes][][level]" id="order_language_criterion_level" >
              <option value='guide' <%='selected' if cr.level == 'guide'%>><%=ts(:guide, scope: 'enums.order/verbal.translation_levels')%></option>
              <option value='business' <%='selected' if cr.level == 'business'%>><%=ts(:business, scope: 'enums.order/verbal.translation_levels')%></option>
              <option value='expert' <%='selected' if cr.level == 'expert'%>><%=ts(:expert, scope: 'enums.order/verbal.translation_levels')%></option>
            </select>
          </div>
          </div>
        <div class="col-05">
          <p><%=ts(:price)%></p>
          <input type="text" value="<%=cr.price%>" readonly>
        </div>
        <div class="col-05 last remove_lang">
          <a id="remove_lang" class="pink-bright"><%=ts(:delete_language)%></a>
        </div>
        <div class="clear"></div>
        </div>
<%end%>
    <div class="clear"></div>
    <div class="clear"></div>


</div>
<!-- /Колонка -->
<div class="clear"></div>
<div class="col-1"></div>
<div class="col-2 last">
  <a id="add_lang" class="pink-bright"><span class="bold">+</span> <%=ts(:add_language)%>
    <span class="tooltip-icon-small js-tooltip rel-js-tooltip-block-lang" data-target=".js-tooltip-block-lang"></span>
  </a>
  <div class="js-tooltip-block-lang" show-tooltip yu-parent="rel-js-tooltip-block-lang">
    <%=ts(:add_language)%>
  </div>
</div>
<div class="clear"></div>



<p class="title">Даты резервации</p>
<%= render partial: 'orders/verbal/calendar'%>

<p class="title additional-trigger">
  <%=ts(:additional)%>
  <span class="caret icons-caret-pink-right"></span>
</p>
<!-- Дополнительные требования -->
<div class="additional">
  <!-- Колонка -->
  <div class="col-1">
    <p><%=ts(:translator_sex)%></p>

      <!--<select ng-model="order.sexTranslator" ng-options="sex_translator.value as sex_translator.name for sex_translator in sexes"></select>-->
      <div class="custom-select">
        <%=f.select :translator_sex, Order::Verbal::GENDERS.collect{|c| [I18n.t(c), c]}, include_blank: true%>
      </div>

  </div>
  <div class="col-1">
    <p><%=ts(:translator_native_language)%></p>
    <div class="custom-select">
      <%=f.select :translator_native_language_id, Language.all.collect {|c| [c.name, c.id]}%>
    </div>
  </div>
  <div class="col-1 last">
    <p><%=ts(:native_language)%></p>
    <div class="custom-select">
      <%=f.select :native_language_id, Language.all.collect {|c| [c.name, c.id]}%>
    </div>
  </div>
  <div class="clear"></div>

  <p><%= ts(:directions)%></p>
  <!-- Колонка -->
  <div class="col-1">

    <%= collection_check_boxes(:order, :direction_ids, Direction.all, :id, :name) do |b|%>
        <%=b.label class: "checkbox clearfix" do%>
        <%end%>
    <%end%>
    <% @directions.each do |d|%>
    <label class="checkbox clearfix">
      <input type="checkbox" name="order[direction_ids][]" value="<%=d.id%>" <%'checked' if @order.direction_ids.include? d.id%> >
      <em></em>

      <p><%=d.name%></p>
    </label>
    <%end%>
  </div>
  <!-- /Колонка -->
  <div class="clear"></div>
  <!-- Колонка -->
  <div class="col-1">
    <div class="height-10"></div>
    <p><%=ts(:goal)%></p>

      <div class="custom-select">
        <%=f.select :goal, Order::Verbal::GOALS.collect{|c| [I18n.t(c), c]}%>
      </div>
  </div>
  <!-- /Колонка -->
</div>
<!-- /Дополнительные требования -->
<div class="clear"></div>
<p class="text-small pink-bright pull-right"><%=ts(:fill_in_marked_fields)%></p>
<div class="clear"></div>

<div ng-include="'orders/interpretations/steps.html'"></div>
</div>
<!-- /Контейнер -->

<%=render partial: 'orders/verbal/steps_nav', locals: {f: f}%>
<%end%>
<!-- /Раздел с формой -->

<script>
  new Lang
  new Additional
  new Tooltip
  new SmartSelector
</script>