<!-- Раздел с формой -->
<%= form_for @order, as: :order, url: url_for(controller: 'orders', action: 'update'), html: {class: "section-form step-2"} do |f| %>
<%= f.hidden_field :_type%>
<!-- Контейнер -->
<div class="container clearfix">
<h1 class="main">Разместить заказ на <span class="pink-bright">Устный перевод</span></h1>

<p class="title">Выбор стоимости</p>

<p>Подтвердите резервацию отметив подходящие вам цены (Цена за сумму часов)</p>
<!-- Календарь -->
<div class="calendar">
<span class="arrow left"></span>
<span class="arrow right"></span>
<!-- Интервал -->
<div class="interval active">
<table cellpadding="0" cellspacing="0" border="0">


<tr>
<td></td>
<%@order.reservation_dates.each_with_index do |date, i|%>
    <td style="<%='display: none' if i>7 %>" >
      <em><%=date.date.strftime '%d-%B-%Y'%></em>
    </td>
<%end%>
</tr>
<tr>
<%@order.language_criterions.each do |lc| %>

<tr>
  <td><%=lc.language.name%> <sup>Разговорный</sup></td>
  <%@order.reservation_dates.each_with_index do |date,  i|%>

      <td class="active" style="<%='display: none' if i>7 %>"  data-cost="<%=Order::Verbal::DEFAULTCOST%>">
        <em class="cost"><%=Order::Verbal::DEFAULTCOST*(1+(date.hours-8)*1.5/8)%> Eur</em>
        <span><i class="dropdown-icon"></i> <b><%=date.hours%> <%=ts(:h)%></b></span>

        <div class="dropdown">
          <b class="icon"></b>
          <em>8</em>
          <em>10</em>
          <em>12</em>
          <em>14</em>
          <em>16</em>
          <input type="hidden" name="order[reservation_dates_attributes][][_id]" value="<%=date.id%>">
          <input type="hidden" class="hours" name="order[reservation_dates_attributes][][hours]" value="<%=date.hours%>">
          <input type="hidden" class="destroy" name="order[reservation_dates_attributes][][_destroy]" value="1">
        </div>
      </td>
  <%end%>
  <td></td>
</tr>

<%end%>
</table>
<!-- /Интервал -->
<!-- Интервал -->
<!-- /Интервал -->
</div>
</div>
<!-- /Календарь -->
<p class="description">Рабочий день переводчика - 8 часов. Цена за каждый сверхурочный час работы переводчика
  высчитывается по формуле:<br> цена за 1 рабочий день / 8 часов * 1.5 </p>

<p class="sum">Cуммарная стоимость выбранных услуг</p>

<div class="bordered-block">
  <p> <%=ts(:price_here)%></p>
</div>
<div class="height-30"></div>
<div ng-include="'orders/interpretations/steps.html'"></div>

</div>
<!-- /Контейнер -->
<%=render partial: 'orders/verbal/steps_nav', locals: {f: f}%>
<%end%>
<script>
  new ConfirmCalendar
</script>
<!-- /Раздел с формой -->