
<form class="section-form section-cabinet-common section-reg-translator section-reg-translator-6" ng-init="profile.step=5" novalidate>

    <div ng-include="'cabinet/menu.html'"></div>

    <!-- Контейнер -->
    <div class="container clearfix">
        <div ng-include="'cabinet/profiles/translators/person-title.html'"></div>
        <div ng-include="'cabinet/profiles/translators/person-tabs.html'"></div>

        <div ng-repeat="edu in profile.educations">
            {{#each education in model.educations}}
            <!-- Колонка -->
            <div class="col-1">
                <p>{{ts 'frontend.profile.education'}}</p>
                <div class="custom-select">
                    {{view Yufu.SelectView
                    object=education
                    attr='grade'
                    prompt='-'
                    content=educations
                    onChange='if_other'}}
                </div>
            </div>
            <!-- /Колонка -->
            <!-- Колонка -->
            <div class="col-1">
                <p>{{ts 'frontend.profile.other'}}</p>
                {{view Yufu.CustomTextField valueBinding='education.grade' name='grade' viewName='grade' style="width: 4em;" custom_values=educations}}
            </div>
            <!-- /Колонка -->
            <!-- Колонка -->
            <div class="col-1 last position-relative">
                <p>{{ts 'frontend.profile.area'}} <span class="tooltip-icon-small js-tooltip" data-target=".js-tooltip-sfera"></span></p>
                <div class="hover-tooltip js-tooltip-sfera">
                    <span class="icon"></span>
                    <p>{{ts 'frontend.profile.previous_industries'}}</p>
                </div>
                <div class="custom-select">
                    {{view Ember.Select
                    selection=education.specialization
                    prompt='-'
                    content=specializations}}
                </div>
            </div>
            <!-- /Колонка -->
            <div class="clear"></div>
            <!-- Колонка -->
            <div class="col-2">
                <p>{{ts 'frontend.profile.institution'}}</p>
                {{view Ember.TextField valueBinding='education.university' name='university' viewName='university' style="width: 4em;"}}
            </div>
            <!-- /Колонка -->
            <!-- Колонка -->
            <div class="col-1 last">
                <p>{{ts 'frontend.profile.location'}}</p>
                {{view Ember.TextField valueBinding='education.location' name='location' viewName='location' style="width: 4em;"}}
            </div>
            <!-- /Колонка -->
            <div class="clear"></div>
            <div class="position-relative">
                <p>{{ts 'frontend.profile.attach_proofs'}} <span class="tooltip-icon-small js-tooltip" data-target=".js-tooltip-parag"></span></p>
                <div class="hover-tooltip js-tooltip-parag" style="left: 500px; width: 300px;">
                    <span class="icon"></span>
                    <p>{{ts 'frontend.profile.not_necessarily'}}</p>
                </div>
            </div>
            <!-- Колонка -->
            <div class="col-2 lang-test clearfix position-relative">
                <div class="dropzone dropzone-lang-test">{{ts 'frontend.profile.or_drag_here'}}</div>
                <label class="file">
                    {{view Yufu.FileUploadMultiple name="avatar" file=avatar object=education multiple='multiple'}}
                    <em>{{ts 'frontend.profile.choose'}}...</em>
                    <span class="tooltip-icon-small js-tooltip" data-target=".js-tooltip-test-file"></span>
                </label>
                <div class="height-5"></div>
                <div class="hover-tooltip js-tooltip-test-file" style="width: 300px;">
                    <span class="icon"></span>
                    <p>{{ts 'frontend.profile.upload_warning'}}</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="height-30"></div>
            <div class="grey-line"></div>
            <!-- /Колонка -->
            {{/each}}

        </div>

        <div class="height-20"></div>
        <a {{action 'add_education' model}} href="" class="pink-bright" ><b class="bold">+</b> {{ts 'frontend.profile.add_education'}}</a>
        <div class="height-10"></div>
        <div ng-include="'cabinet/profiles/translators/person-steps.html'"></div>
    </div>
    <!-- /Контейнер -->
</form>

<!--
<form class="section-form step-1">
  <div class="container clearfix">
    <h1 class="main">Заполнение анкеты</h1>

    <div class="col-1">
      <div>Образование</div>
      <select ng-model="profile.edu_level" ng-options="edu.value as edu.name for edu in edu_levels"></select>
      <div>
        другое укажите:
        <input type="text" ng-model="profile.edu_other" />
      </div>
    </div>
    <div class="col-1">
      <div>Учебное заведение</div>
      <div>Наименование</div>
      <input type="text" ng-model="profile.edu_name" />
      <div>Место нахождения</div>
      <input type="text" ng-model="profile.edu_location" />
    </div>
    <div class="col-1 last clearfix">
      <div>Направление</div>
      <select ng-model="profile.edu_direction" ng-options="edu.value as edu.name for edu in edu_directions"></select>
    </div>
    <div class="clear"></div>

    <div class="col-2">
      Присоединить копию теста на языковую пригодность / Университетский сертификат с лингвистического факультета или любого факультета не на родном языке; Другие документы подтверждающие вашу информацию
      <input type="file" />
    </div>
    <div class="clear"></div>

    <div class="steps clearfix">
      <div class="col-1"></div>
      <div class="col-1 clearfix circles">
        <span ui-sref="index">1</span>
        <span ui-sref="person-1">2</span>
        <span ui-sref="person-2">3</span>
        <span ui-sref="person-3">4</span>
        <span ui-sref="person-4">5</span>
        <span class="active">6</span>
        <span>7</span>
      </div>
      <div class="col-1 button last">
        <button type="submit" ng-click="checkStep(5)">Продолжить</button>
      </div>
    </div>

  </div>
</form>-->
