
<form class="section-form section-cabinet-common section-reg-translator">
    <!-- Контейнер -->
    <div class="container clearfix">
        <div ng-include="'cabinet/profiles/translators/person-title.html'"></div>
        <div ng-include="'cabinet/profiles/translators/person-tabs.html'"></div>
        <!-- Колонка -->
        <div class="col-1">
            <p>{{ts 'frontend.profile.main_email'}}</p>
            {{view Ember.TextField valueBinding='model.email' name='email' viewName='email' style="width: 4em;"}}
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1">
            <p>{{ts 'frontend.profile.second_email'}}</p>
            {{view Ember.TextField valueBinding='model.additional_email' name='additional_email' viewName='additional_email' style="width: 4em;"}}
        </div>
        <!-- /Колонка -->
        <div class="clear"></div>
        <!-- Колонка -->
        <div class="col-1">
            <p>{{ts 'frontend.profile.qq_number'}}<span class="required">*</span><span class="help-text">({{ts 'frontend.profile.for_online_interview'}})</span></p>
            {{view Ember.TextField valueBinding='model.qq' name='additional_email' viewName='qq' style="width: 4em;"}}
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1">
            <p>We-chat <span class="required">*</span></p>
            {{view Ember.TextField valueBinding='model.wechat' name='wechat' viewName='wechat' style="width: 4em;"}}
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1 last">
            <p>Skype <span class="required">*</span><span class="help-text">({{ts 'frontend.profile.for_online_interview'}})</span></p>
            {{view Ember.TextField valueBinding='model.skype' name='skype' viewName='skype' style="width: 4em;"}}
        </div>
        <!-- /Колонка -->
        <div class="clear"></div>
        <!-- Колонка -->
        <div class="col-1">
            <p>{{ts 'frontend.profile.phone_number'}} <span class="required">*</span><span class="help-text">({{ts 'frontend.profile.for_online_interview'}})</span></p>
            {{view Ember.TextField valueBinding='model.phone' name='phone' viewName='phone' style="width: 4em;"}}
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1">
            <p>{{ts 'frontend.profile.second_phone_number'}}</p>
            {{view Ember.TextField valueBinding='model.additional_phone' name='additional_phone' viewName='additional_phone' style="width: 4em;"}}
        </div>
        <!-- /Колонка -->
        <div ng-include="'cabinet/profiles/translators/person-steps.html'"></div>
    </div>
    <!-- /Контейнер -->
</form>