<form class="section-form section-cabinet-common section-reg-translator" ng-init="profile.step=4" novalidate>


<!-- Контейнер -->
<div class="container clearfix">
<!-- Колонка -->

{{#each service in model.services}}

    {{input type="hidden" valueBinding="service.id"}}

    <div class="col-1">
        <p>{{ts 'frontend.profile.translation_language'}}</p>
        <div class="custom-select disabled">
            {{view Ember.Select
            selection=service.language.content
            prompt='-'
            content=languages
            optionLabelPath='content.name'
            optionValuePath='content.id'}}
        </div>
    </div>
    <!-- /Колонка -->
    <!-- Колонка -->
    <div class="col-1"></div>
    <!-- /Колонка -->
    <!-- Колонка -->
    <div class="col-1 last position-relative">
        <p>{{ts 'frontend.profile.has_hsk'}}</p>
        <div class="custom-select">
            {{view Ember.Select
            selection=service.has_hsk
            prompt='-'
            content=truefalse
            optionLabelPath='content'
            optionValuePath=truefalse}}
        </div>
    </div>
    <!-- /Колонка -->
    <div class="clear"></div>
    <!-- Колонка -->
    <div class="col-1">
        <p>{{ts 'frontend.profile.language_level'}}</p>
        <div class="custom-select">
            {{view Ember.Select
            value=service.level
            prompt='-'
            content=lang_levels
            optionLabelPath='content.value'
            optionValuePath='content.id'
            }}
        </div>
    </div>
    <!-- /Колонка -->
    <!-- Колонка -->
    <div class="col-1 position-relative">
        <p>{{ts 'frontend.profile.estimated_pay'}} <span class="help-text">({{ts 'frontend.profile.per_day'}})</span> <span class="tooltip-icon-small js-tooltip rel-js-tooltip-stavka-ras-1-1" data-target=".js-tooltip-stavka-ras-1-1"></span></p>
        <div class="hover-tooltip js-tooltip-stavka-ras-1-1" show-tooltip yu-parent="rel-js-tooltip-stavka-ras-1-1">
            <span class="icon"></span>
            <p>{{ts 'frontend.profile.pay_reasoning'}}</p>
        </div>
        <div class="bordered-block thin">
            <div class="height-2"></div>
            <p class="bold pink-bright">{{service.val_price}} Eur</p>
        </div>
    </div>
    <!-- /Колонка -->
    <!-- Колонка -->
    <div class="col-1 last position-relative">
        <p>{{ts 'frontend.profile.desired_pay'}} <span class="help-text">(EUR {{ts 'frontend.profile.per_day'}})</span> <span class="tooltip-icon-small js-tooltip rel-js-tooltip-stavka-des-1-1" data-target=".js-tooltip-stavka-des-1-1"></span></p>
        <div class="hover-tooltip js-tooltip-stavka-des-1-1" show-tooltip yu-parent="rel-js-tooltip-stavka-des-1-1">
            <span class="icon"></span>
            <p>{{ts 'frontend.profile.desired_pay_reasoning'}}</p>
        </div>
        {{view Ember.TextField valueBinding='service.verbal_price' name='verbal_price' viewName='verbal_price' style="width: 4em;"}}
    </div>
    <!-- /Колонка -->
    <div class="clear"></div>
    <!-- Колонка -->
    <div class="col-1 position-relative">
        <p>{{ts 'frontend.profile.written_translations'}} <span class="tooltip-icon-small js-tooltip rel-js-tooltip-w-1" data-target=".js-tooltip-w-1"></span></p>
        <div class="hover-tooltip js-tooltip-w-1" show-tooltip yu-parent="rel-js-tooltip-w-1">
            <span class="icon"></span>
            <p>{{ts 'frontend.profile.only_for_high_skilled'}}</p>
        </div>
        <div class="custom-select">
            {{view Ember.Select
            selection=service.written_translate_type
            prompt='-'
            content=sense_of_translation}}
        </div>
    </div>
    <!-- /Колонка -->
    <!-- Колонка -->
    <div class="col-1 position-relative">
        <p>{{ts 'frontend.profile.estimated_pay'}} <span class="help-text">({{ts 'frontend.profile.per_day'}})</span> <span class="tooltip-icon-small js-tooltip rel-js-tooltip-stavka-ras-1-2" data-target=".js-tooltip-stavka-ras-1-2"></span></p>
        <div class="hover-tooltip js-tooltip-stavka-ras-1-2" show-tooltip yu-parent="rel-js-tooltip-stavka-ras-1-2">
            <span class="icon"></span>
            <p>{{ts 'frontend.profile.pay_reasoning'}}</p>
        </div>
        <div class="bordered-block thin">
            <div class="height-2"></div>
            <p class="bold pink-bright">285 Eur</p>
        </div>
    </div>
    <!-- /Колонка -->
    <!-- Колонка -->
    <div class="col-1 last position-relative">
        <p>{{ts 'frontend.profile.desired_pay'}} <span class="help-text">(EUR {{ts 'frontend.profile.per_day'}})</span> <span class="tooltip-icon-small js-tooltip rel-js-tooltip-stavka-des-1-2" data-target=".js-tooltip-stavka-des-1-2"></span></p>
        <div class="hover-tooltip js-tooltip-stavka-des-1-2" show-tooltip yu-parent="rel-js-tooltip-stavka-des-1-2">
            <span class="icon"></span>
            <p>{{ts 'frontend.profile.desired_pay_reasoning'}}</p>
        </div>
        {{view Ember.TextField valueBinding='service.written_price' name='written_price' viewName='written_price' style="width: 4em;"}}
    </div>
    <!-- /Колонка -->
    <div class="clear"></div>
    <div class="height-20"></div>

{{/each}}
{{outlet 'new_service'}}
<!-- /Колонка -->
<div class="clear"></div>
<div class="height-20"></div>
<div class="grey-line"></div>
<div class="height-20"></div>

<a {{action 'add_language' model}} class="pink-bright"><b class="bold">+</b> {{ts 'frontend.profile.add_language'}}</a>

<div class="height-20"></div>
<div class="position-relative">
    <label class="checkbox no-left clearfix">
        <input type="checkbox" checked>
        <em></em>
        <p>{{ts 'frontend.profile.available_services'}}</p>
    </label>
</div>

<div class="add short">
    <a href="" {{action 'show_directions'}}><b>+</b> {{ts 'frontend.profile.add'}}</a>
    <div class="textarea">
        <div class="pseudo_textarea" style="min-height: 70px">
            {{#each direction in model.directions.content}}
                <span>{{direction.name}}</span>
            {{/each}}
        </div>
    </div>
</div>
<!-- Колонка -->
<div class="col-1">
    <label class="checkbox clearfix">
        {{view Ember.Checkbox checkedBinding="model.can_travel"}}
        <em></em>
        <p>{{ts 'frontend.profile.free_travel'}}</p>
    </label>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1 position-relative">
    <label class="checkbox clearfix">
        {{view Ember.Checkbox checkedBinding="model.has_driving_license"}}
        <em></em>
        <p>{{ts 'frontend.profile.has_driver_id'}}</p>
    </label>
    <div class="height-5"></div>
</div>
<!-- /Колонка -->
<!-- Колонка -->
<div class="col-1 last position-relative">
    <label class="checkbox clearfix">
        {{view Ember.Checkbox checkedBinding="model.has_car"}}
        <em></em>
        <p>{{ts 'frontend.profile.has_car'}}</p>
    </label>
    <div class="height-5"></div>
</div>
<!-- /Колонка -->
<div class="clear"></div>
<div class="height-20"></div>
<!-- Колонка -->
<div class="col-1">
    <p>{{ts 'frontend.profile.status_now'}}</p>
    <div class="custom-select">
        {{view Ember.Select
        selection=model.status
        prompt='-'
        content=statuses}}
    </div>
</div>
<!-- /Колонка -->
<div ng-include="'cabinet/profiles/translators/person-steps.html'"></div>
</div>
<!-- /Контейнер -->
</form>
