<form class="section-form section-cabinet-common section-reg-translator">
  <div class="container clearfix">
    <h1 class="main">{{ts 'mongoid.models.profile/base.one'}} <span class="pink-bright">{{ts 'mongoid.models.profile/translator/company.few'}}</span></h1>
    <p class="title">{{ts 'frontend.profile.translator_company.title'}}</p>
    {{outlet}}
    {{partial 'translator_company/steps'}}
  </div>
</form>