<!-- Раздел с формой -->
<%= form_for @order, as: :order, url: url_for(controller: 'orders', action: 'update'), html: {class: "section-form step-1"} do |f| %>
    <%= hidden_field_tag :profile_id, params[:profile_id]%>
    <%= f.hidden_field :_type%>
<div class="section-form payment" ng-init="order.step=3">
    <!-- Контейнер -->
    <div class="container clearfix">
        <h1 class="main"><%=ts(:make_order_for)%> <span class="pink-bright"><%=ts(:written)%></span></h1>
        <p class="title"><%=ts(:order_details)%> – № <%=@order.id%></p>
        <div class="bordered-block points">
            <p class="point"><span class="bold number">1.</span> Ср. 3 сент. 2014 г., письменный перевод+корректура, русский > китайский (традиционный), 1055 слов,  срок сдачи: +&nbsp;7&nbsp;сент.&nbsp;2014&nbsp;г. = <span class="semi-bold">210 Eur</span></p>
            <p class="point"><span class="bold number">2.</span> Чт. 4 сент. 2014 г., письменный перевод+корректура, русский > китайский (упрощенный), 1055 слов,  срок сдачи: +&nbsp;7&nbsp;сент.&nbsp;2014&nbsp;г. = <span class="semi-bold">115 Eur</span></p>
            <div class="line"></div>
            <p class="pink-bright bold">Сумма к оплате: 325 Eur</p>
        </div>
        <div class="height-10"></div>
        <label class="checkbox clearfix">
            <input id="i_agree" type="checkbox">
            <em></em>
            <p><%=ts(:agree_first_part)%><a href="#"> <%=ts(:service_conditions)%></a>, <a href="#"><%=ts(:cancel_conditions)%></a> <%=ts(:and)%> <a href="#"><%=ts(:compensation_rules)%></a> <%=ts(:agree_last_part)%></p>
        </label>
        <div class="height-20"></div>
        <p class="title">Информация о плательщике</p>
          <%- if current_user.partner? %>
              <p><%=ts('mongoid.attributes.order/base.partners_client')%></p>
              <div class="custom-select">
                <%= f.select :partners_client, current_user.partner_profile.clients.map {|c| [c.name, c.id]} %>
              </div>

          <% else %>
            <%=f.fields_for :client_info_attributes do |ci|%>
                <div class="col-1">
                  <p><%=ts(:fist_name)%></p>
                  <%=ci.text_field :first_name, value: @order.client_info.first_name, required: true%>
                </div>
                <div class="col-1">
                  <p><%=ts(:last_name)%></p>
                  <%=ci.text_field :last_name, value: @order.client_info.last_name, required: true%>
                </div>
                <div class="col-1 last clearfix birth">
                  <p><%=ts(:birthday)%></p>
                  <div class="custom-select three-in-one">
                    <%=ci.date_select :birthday, :start_year => 1940, use_month_numbers: true,  required: true%>
                  </div>
                </div>
                <div class="col-1">
                  <p><%=ts(:email)%></p>
                  <%=ci.text_field :email, value: @order.client_info.email, required: true%>
                </div>
              <%end%>
        <%end%>
        <!-- /Колонка -->
        <div class="clear"></div>
        <p class="title"><%=ts(:pay_ways)%></p>
        <!-- Колонка -->
      <div class="col-1 payment-method plastic-card">
        <div class="line"></div>
        <span class="icon"></span>
        <div class="height-5"></div>
        <label class="checkbox clearfix">
          <%=f.radio_button :pay_way, Order::Base::PAY_WAYS[0]%>
          <em></em>
          <p><%=ts(:visa)%></p>
        </label>
      </div>
      <!-- /Колонка -->
      <!-- Колонка -->
      <div class="col-1 payment-method bank-transfer">
        <div class="line"></div>
        <span class="icon"></span>
        <div class="height-5"></div>
        <label class="checkbox clearfix">
          <%=f.radio_button :pay_way, Order::Base::PAY_WAYS[1]%>
          <em></em>
          <p><%=ts(:bank)%></p>
        </label>
      </div>
      <!-- /Колонка -->
      <!-- Колонка -->
      <div class="col-1 last payment-method alipay">
        <span class="icon"></span>
        <div class="height-5"></div>
        <label class="checkbox clearfix">
          <%=f.radio_button :pay_way, Order::Base::PAY_WAYS[2]%>
          <em></em>
          <p><%=ts(:alipay)%> <span class="tooltip-icon-small js-tooltip" data-target=".js-tooltip-al"></span></p>
        </label>
        <div class="hover-tooltip js-tooltip-al" style="text-align: left;">
          <span class="icon"></span>
          <p><%=ts(:alipay_tooltip)%></p>
        </div>
      </div>
        <!-- /Колонка -->
        <div class="clear height-20"></div>

    </div>
    <!-- /Контейнер -->
</div>
    <%=render partial: 'orders/verbal/steps_nav', locals: {f: f}%>
<%end%>
<!-- /Раздел с формой -->