<!-- Раздел с формой -->
<div class="section-form section-form-written section-form-written-step-1 step-1">
<!-- Бекграунд модального окна -->
<% if @show_modal != 'false'%>
<div class="modal-bg" ></div>
<div class="modal modal-lang clearfix" ng-hide="hideModals">
  <%= form_for @order, url: url_for(controller: 'orders', action: 'add_available_languages'), method: :post,  html: {id: 'add_languages'} do |al| %>
    <%= al.submit I18n.t(:done), class: 'close' %>
    <p class="title"><%=ts(:translation_languages)%></p>
    <div class="clearfix"></div>
    <div class="line"></div>
    <!-- Обертка для скролбара -->
    <div class="scroll">
        <!-- Колонка -->
      <% @languages.each do |d|%>
          <label class="checkbox clearfix">
            <input type="checkbox" name="order[available_language_ids][]" value="<%=d.id%>" <%='checked' if @order.available_language_ids.include? d.id%> >
            <em></em>
            <p><%=d.name%></p>
          </label>
      <%end%>
        <div class="clear"></div>
    </div>
  <%end%>
  <!-- /Обретка для скроллбара -->
</div>
<%end%>

<%= form_for @order, as: :order, url: url_for(controller: 'orders', action: 'update') do |f| %>
<%= f.hidden_field :_type%>

<div class="container clearfix">
  <div class="languages_wrap">
  <h1 class="main"><%=ts(:make_order_for)%> <span class="pink-bright"><%=ts(:written)%></span></h1>
    <div class="height-3"></div>
    <p class="title"><%=ts(:translation_params)%></p>
    <!-- Колонка -->
        <div class="col-1">
            <p><%=ts(:original_language)%></p>
            <div class="custom-select">
                <%=f.select :original_language_id, @order.available_languages.map {|l| [l.name, l.id]}, include_blank: true%>
            </div>
        </div>
    <!-- /Колонка -->
    <!-- Колонка -->
    <div class="col-1 translation_lang_wrap" >
        <p><%=ts(:translation_language)%></p>
        <div class="custom-select">
          <select name="order[translation_language_ids][]" id="order_translation_language_ids"  class='select_translation_language'>
            <option></option>
            <%Language.all.each do |l|%>
                <option value="<%=l.id%>" <%='selected' if @order.translation_language_ids.first== l.id%>><%=l.name%></option>
            <%end%>
          </select>
        </div>
    </div>
    <!-- /Колонка -->
    <div class="clear"></div>
    <!-- Колонка -->
    <div class="col-1">
        <p><%=ts(:translation_type)%></p>
        <div class="custom-select">
          <%=f.select :translation_type, Order::Written::TYPES.map {|l| [I18n.t(l), l]}%>
        </div>
    </div>
    <div class="col-1 last">
      <p>Число слов</p>
      <%=f.text_field :words_number, required: true%>
    </div>
    <% @order.translation_language_ids.each_with_index do |lang_id, i| %>
        <%if i > 0%>
        <div class="col-2 half-width" >
          <div class="custom-select">
              <select name="order[translation_language_ids][]" id="order_translation_language_ids"  class='select_translation_language'>
                <option></option>
                <%Language.all.each do |l|%>
                    <option value="<%=l.id%>" <%='selected' if lang_id== l.id%>><%=l.name%></option>
                <%end%>
              </select>
          </div>
        </div>
        <%end%>
    <%end%>
    <!-- /Колонка -->
    <!-- Колонка -->


    </div>
      <div class="col-3 last">
        <a id="add_lang" class="pink-bright"><span class="bold">+</span> <%=ts(:add_language)%></a>
      </div>
      <div class="clear"></div>
    <!-- /Колонка -->
    <!-- Колонка -->
    <!--div class="col-1 last lang">
        <p class="trigger modal-trigger" data-modal="modal-lang" ng-click="toggleModal()"><b>+</b> Выбрать несколько языков <span class="tooltip-icon-small js-tooltip rel-js-tooltip-lang" data-target=".js-tooltip-lang"></span></p>
        <div class="hover-tooltip js-tooltip-lang clearfix" show-tooltip yu-parent="rel-js-tooltip-lang">
            <span class="icon"></span>
            <p>Текст подсказки поместить нужно в этот блок</p>
        </div>
        <div class="choosen">
            <b>Выбранные языки:</b>
            <div>Китайский(традиционный)</div>
            <div>Китайский(упрощенный)</div>
        </div>
    </div-->
    <!-- /Колонка -->
    <div class="clear height-10"></div>
    <p class="title">Стоимость</p>
    <!-- Колонка -->
    <div class="col-1 level_1">
        <label class="radio no-left clearfix">
            <%=f.radio_button :level, Order::Written::LEVELS[0], required: true%>
            <em></em>
            <p>
                <span class="semi-bold">Перевод + корретировка</span>
                <span class="langs">
                  <%-@order.translation_languages.each do |l|%>
                      <span class='text-small'><%=@order.original_language.name%>  <span class='bold'>></span> <%=l.name%></span>
                    <%end%>
                </span>
                <span class="height-5"></span>
                <span class="price">Цена: <span class="bold pink-bright"><span class="price_cont"><%=@order.price Order::Written::LEVELS[0]%></span> </span></span>
                <span class="height-7"></span>
                <span>Срок сдачи: <span class="semi-bold">5 суток с момента получения аванса</span></span>
                <span class="height-5"></span>
                <span class="text-small">Профессиональный переводчик + контроль качества другим переводчиком + координация их работы менеджером проекта для обеспечения высокого качества конечного результата. Обеспечение единства терминологии. Простое, но эффективное решение.</span>
            </p>
        </label>
    </div>
    <!-- /Колонка -->
    <!-- Колонка -->
    <div class="col-1 level_2">
        <label class="radio no-left clearfix">
          <%=f.radio_button :level, Order::Written::LEVELS[1], required: true%>
            <em></em>
            <p>
                <span class="semi-bold">Перевод</span>
                <span class="height-3"></span>
                <span class="langs">
                  <%-@order.translation_languages.each do |l|%>
                      <span class='text-small'><%=@order.original_language.name%>  <span class='bold'>></span> <%=l.name%></span>
                    <%end%>
                </span>
                <span class="height-5"></span>
                <span class="price">Цена: <span class="bold pink-bright"><span class="price_cont"><%=@order.price Order::Written::LEVELS[1]%></span> </span></span>
                <span class="height-7"></span>
                <span>Срок сдачи: <span class="semi-bold">1 сутки с момента получения аванса</span></span>
                <span class="height-5"></span>
                <span class="text-small">Недорогое и быстрое решение, позволяющее отредактировать машинный перевод и исправить наиболее грубые ошибки. Профессиональный переводчик вычитает и отредактирует машинный перевод. Отличный компромисс между профессиональным и машинным переводом. Услуга недоступна для PDF-файлов и картинок.</span>
            </p>
        </label>
    </div>
    <!-- /Колонка -->
    <div class="clearfix"></div>
    <div class="height-20"></div>
    <p class="big-tooltip">
        <span class="icon"></span>
        Перевод стандартных документов, таких как свидетельство о рождении, диплом об образовании, водительские права, папорт и любые др. официальные  документы. Документы принимаются в отсканированном виде. Выполненный заказ в виде File.pdf , в целях безопасности и конфиденциальности, вы скачиваете с вашей личной странички. В случае необходимости перевод сертифицируется и выде сканированной копии размещатся там же. Оригинал сертифицированного документа может быть отослан Вам почтой за Ваш счет.
    </p>

    <div ng-include="'orders/written/steps.html'"></div>
</div>
<!-- /Контейнер -->
<%=render partial: 'orders/verbal/steps_nav', locals: {f: f}%>
<%end%>
</div>

<script>
  new WrittenStepOne
  new SmartSelector
</script>
<!-- /Раздел с формой -->