<div class="section-reg-translator">
    <ul class="second-step-points">
        <li>{{#link-to 'profiles.edit' (query-params step='language')}}<span>{{ts 'frontend.profile.language'}}</span>{{/link-to}}</li>
        <li>{{#link-to 'profiles.edit' (query-params step='personal')}}<span>{{ts 'frontend.profile.personal_data'}}</span>{{/link-to}}</li>
        <li>{{#link-to 'profiles.edit' (query-params step='contacts')}}<span>{{ts 'frontend.profile.contacts'}}</span>{{/link-to}}</li>
        <li>{{#link-to 'profiles.edit' (query-params step='services')}}<span>{{ts 'frontend.profile.translation_services'}}</span>{{/link-to}}</li>
        <li>{{#link-to 'profiles.edit' (query-params step='education')}}<span>{{ts 'frontend.profile.education'}}</span>{{/link-to}}</li>
        <li>{{#link-to 'profiles.edit' (query-params step='payments')}}<span>{{ts 'frontend.profile.payment_methods'}}</span>{{/link-to}}</li>
    </ul>
    <div class="height-10"></div>
</div>

