<form class="section-form section-cabinet-common section-reg-translator section-reg-translator-3" >
    <!-- Контейнер -->
    <div class="container clearfix">
        <div ng-include="'cabinet/profiles/translators/person-title.html'"></div>
        <div ng-include="'cabinet/profiles/translators/person-tabs.html'"></div>

        <!-- Колонка -->
        <div class="col-1">
            <p>{{ts 'frontend.profile.id_name'}} <span class="required">*</span></p>
            {{view Ember.TextField valueBinding='model.first_name' name='first_name' viewName='first_name'}}
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1">
            <p>{{ts 'frontend.profile.id_surname'}} <span class="required">*</span></p>
            {{view Ember.TextField valueBinding='model.last_name' name='last_name' viewName='last_name'}}
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1 clearfix last">
            <p>{{ts 'frontend.profile.birthday'}}</p>
            <div class="input_date">
                {{date-picker-input controls="birthday" valueBinding='model.formattedBirthday'}}
                {{date-picker-controls id="birthday"}}
            </div>

        </div>
        <!-- /Колонка -->
        <div class="clear"></div>
        <!-- Колонка -->
        <div class="col-1">
            <p>{{ts 'frontend.profile.id_number'}} <span class="required">*</span></p>
            {{view Ember.TextField valueBinding='model.passport_num' name='passport_num' viewName='passport_num'}}
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1 clearfix">
            <p>{{ts 'frontend.profile.id_expiration_date'}} <span class="required">*</span></p>
            {{view Ember.TextField valueBinding='model.passport_till' name='passport_till' viewName='passport_till'}}
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1 last">
            <p>{{ts 'frontend.profile.id_country'}} <span class="required">*</span></p>
            {{view Ember.TextField valueBinding='model.passport_country' name='passport_country' viewName='passport_country'}}
        </div>
        <!-- /Колонка -->
        <div class="clear"></div>
        <div class="height-20"></div>

        <div class="grey-line"></div>
        <div class="height-20"></div>
        <!-- Колонка -->
        <div class="col-1">
            <p>{{ts 'frontend.profile.city'}} <span class="required">*</span></p>
            <div class="custom-select">
                {{view Ember.Select
                selection=model.city.content
                prompt='-'
                content=cities
                optionLabelPath='content.name'
                optionValuePath='content.id'}}
            </div>
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1">
            <p>{{ts 'frontend.profile.years_in_china'}} <span class="required">*</span></p>
            {{view Ember.TextField valueBinding='model.years_in_china' name='years_in_china' viewName='years_in_china' style="width: 4em;"}}

        </div>
        <!-- /Колонка -->
        <div class="clear"></div>

        <div class="position-relative">
            <label class="checkbox no-left clearfix">
                <input type="checkbox" value="1" ng-model="profile.canCitiesNocost">
                <em></em>
                <p>{{ts 'frontend.profile.work_in_other_cities'}}
                    <span class="tooltip-icon-small js-tooltip rel-js-tooltip-cities-no-cost" data-target=".js-tooltip-cities-no-cost">
                    </span>
                </p>
            </label>
            <div class="hover-tooltip js-tooltip-cities-no-cost" style="left: 400px; width: 300px;"  show-tooltip yu-parent="rel-js-tooltip-cities-no-cost">
                <span class="icon"></span>
                <p>{{ts 'frontend.profile.raise_competitive_ability'}}</p>
            </div>
        </div>
        <div class="add">
            <a {{action 'show_nearby'}}><b>+</b>{{ts 'frontend.profile.add_cities'}}</a>
            <div class="textarea">
                <div class="pseudo_textarea" style="min-height: 70px">
                    {{#each city in nearby_cities}}
                        <span>{{city.name}}</span>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="position-relative">
            <label class="checkbox no-left clearfix">
                <input type="checkbox" ng-model="profile.canCitiesCost">
                <em></em>
                <p>{{ts 'frontend.profile.work_in_other_cities_50'}}
                    <span class="tooltip-icon-small js-tooltip rel-js-tooltip-cities-cost" data-target=".js-tooltip-cities-cost"></span></p>
            </label>
            <div class="hover-tooltip js-tooltip-cities-cost" style="right:0; width: 300px;" show-tooltip yu-parent="rel-js-tooltip-cities-cost">
                <span class="icon"></span>
                <p>{{ts 'frontend.profile.decrease_competitive_ability'}}</p>
            </div>
        </div>
        <div class="add">
            <a {{action 'show_nearby_with_surcharge'}}><b>+</b> {{ts 'frontend.profile.add_cities'}}</a>
            <div class="textarea">
                <div class="pseudo_textarea" style="min-height: 70px">
                    {{#each city in nearby_cities_with_surcharge}}
                        <span>{{city.name}}</span>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="height-20"></div>
        <div class="grey-line"></div>
        <div class="height-20"></div>

        <!-- Колонка -->
        <div class="col-1">
            <p>{{ts 'frontend.profile.visa_type'}} <span class="required">*</span></p>
            <div class="custom-select">
                {{view Ember.Select
                selection=model.visa
                prompt='-'
                content=visa_kind}}
            </div>
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1 clearfix">
            <p>{{ts 'frontend.profile.visa_expiration_date'}} <span class="required">*</span></p>
            {{date-picker-input controls="visa_till" valueBinding='model.birthday'}}
            {{date-picker-controls id="visa_till"}}
        </div>
        <!-- /Колонка -->
        <div class="clear"></div>
        <div>
            <label class="checkbox no-left clearfix">
                {{view Ember.Checkbox checkedBinding="model.needs_job_resident_permit"}}
                <em></em>
                <p>{{ts 'frontend.profile.job_resident_permit'}}</p>
            </label>
        </div>
        <div class="height-20"></div>
        <div class="grey-line"></div>
        <div class="height-20"></div>

        <!-- Колонка -->
        <div class="col-1">
            <p>{{ts 'frontend.profile.gender'}}</p>
            <div class="custom-select">
                {{view Ember.Select
                selection=model.sex
                prompt='-'
                content=genders}}
            </div>
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-2 last photo position-relative clearfix">
            <div class="dropzone dropzone-photo" nv-file-drop uploader="fileUploader">{{ts 'frontend.profile.or_drag_here'}}</div>
            <p>{{ts 'frontend.profile.upload_photo'}}</p>
            <label class="file">
                <input type="file" class="fileupload-with-dropzone" nv-file-select uploader="fileUploader">
                <em>{{ts 'frontend.profile.choose'}}...</em>
                <span class="tooltip-icon-small js-tooltip rel-js-tooltip-photo" data-target=".js-tooltip-photo"></span>
            </label>
            <div class="height-5"></div>
            <div class="hover-tooltip js-tooltip-photo" show-tooltip yu-parent="rel-js-tooltip-photo">
                <span class="icon"></span>
                <p>{{ts 'frontend.profile.will_be_sent_to_client'}}</p>
            </div>
        </div>
        <!-- /Колонка -->
        <div class="clear"></div>
        <!-- Колонка -->
        <div class="col-2 position-relative">
            <p>{{ts 'frontend.profile.additional_info'}} <span class="tooltip-icon-small js-tooltip rel-js-tooltip-dop" data-target=".js-tooltip-dop"></span></p>
            <div class="hover-tooltip js-tooltip-dop" show-tooltip yu-parent="rel-js-tooltip-dop">
                <span class="icon"></span>
                <p>{{ts 'frontend.profile.additional_info_description'}}</p>
            </div>
            {{view Ember.TextArea valueBinding='model.additions' name='additions' viewName='additions' style="width: 4em;"}}
        </div>
        <!-- /Колонка -->
        <div ng-include="'cabinet/profiles/translators/person-steps.html'"></div>
    </div>
    <!-- /Контейнер -->
    </button>
</form>