
{{#if translatorIndividual}}
  <span>{{translatorIndividual._type}} </span>{{#link-to 'profiles.edit' translatorIndividual}}{{ts 'frontend.profile.edit'}}{{/link-to}}
  <br>
{{/if}}

{{translatorBase}}
{{#if translatorBase}}
    <span>{{translatorBase._type}} </span>{{#link-to 'profiles.edit' translatorIndividual}}{{ts 'frontend.profile.edit'}}{{/link-to}}
    <br>
{{/if}}