<div class="section-reg-translator">
  <ul class="second-step-points">
    <li>
      {{#link-to "vassals" tagName="a" class="item" }}
        <span {{bind-attr href="view.href"}}>{{ts 'agents_system.invites'}}<span class="caret"></span></span>
      {{/link-to}}
    </li>

    <li>
      {{#link-to "link" tagName="a" class="item" }}
        <span {{bind-attr href="view.href"}}>{{ts 'agents_system.my_link'}}<span class="caret"></span></span>
      {{/link-to}}
    </li>

    <li>
      {{#link-to "banners" tagName="a" class="item" }}
        <span {{bind-attr href="view.href"}}>{{ts 'agents_system.banners'}}<span class="caret"></span></span>
      {{/link-to}}
    </li>
  </ul>
</div>
